Ares_ASP.NET_MVC/Connected Services/AresReference/ares_answer_basic_v_1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:U="http://wwwinfo.mfcr.cz/ares/xml_doc/schemas/uvis_datatypes/v_1.0.3" xmlns:D="http://wwwinfo.mfcr.cz/ares/xml_doc/schemas/ares/ares_datatypes/v_1.0.3" xmlns:are="http://wwwinfo.mfcr.cz/ares/xml_doc/schemas/ares/ares_answer_basic/v_1.0.3" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://wwwinfo.mfcr.cz/ares/xml_doc/schemas/ares/ares_answer_basic/v_1.0.3" version="2010-10-12" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import schemaLocation="http://wwwinfo.mfcr.cz/ares/xml_doc/schemas/ares/ares_datatypes/v_1.0.3/ares_datatypes_v_1.0.3.xsd" namespace="http://wwwinfo.mfcr.cz/ares/xml_doc/schemas/ares/ares_datatypes/v_1.0.3" />
  <xsd:annotation>
    <xsd:documentation>
Z??kladn?? ??daje o ekonomick??m subjektu p??ed??van?? z ARES
sch??ma pro odpov???? Basic, informace o tzn. nejlep???? v??t??
verze 1.0.2  
(verze 1.0.1 nebyla vytvo??ena. ????slo verze je shodn?? se sch??matem ares_datatypes a jm??nem programu t??et?? vrstvy. Rozd??l proti 1.0.0 je v D:ROR.)
Copyright 2007-2009 Asseco Czech Republic, a.s. V??echna pr??va vyhrazena
Copyright Asseco Central Europe, a.s. 2010

    		</xsd:documentation>
    <xsd:appinfo>
      <rdf:RDF xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:dc="http://purl.org/dc/elements/1.0/">
        <rdf:Description rdf:about="http://wwwinfo.mfcr.cz/ares/xml_doc/schemas/ares/ares_request_orrg/v_1.0.3">
          <dc:title>XML Schema, detail Basic</dc:title>
          <dc:creator>Pavel Srb (Pavel.Srb@asseco-ce.com)</dc:creator>
          <dc:creator>Asseco Central Europe, a.s.</dc:creator>
          <dc:subject>XML Schema; ARES; Basic; nejlep???? v??ta</dc:subject>
          <dc:description>Detail Basic vyb??r?? z tzv. nejlep???? v??ty v j??dru ARES + vybran?? info p??es dal???? zdroje</dc:description>
          <dc:publisher>Ministerstvo financ?? ??esk?? republiky </dc:publisher>
          <dc:date>2010-07-16</dc:date>
          <dc:type> XML Schema</dc:type>
          <dc:identifier>http://wwwinfo.mfcr.cz/ares/xml_doc/schemas/ares/ares_request_orrg/v_1.0.3/ares_request_orrg.xsd</dc:identifier>
          <dc:format>text/xml</dc:format>
          <dc:language>cz</dc:language>
          <dc:rights>  Asseco Central Europe, a.s. 2010</dc:rights>
        </rdf:Description>
      </rdf:RDF>
    </xsd:appinfo>
  </xsd:annotation>
  <xsd:element name="Ares_odpovedi">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element maxOccurs="unbounded" name="Odpoved" type="D:odpoved_basic" />
        <xsd:element minOccurs="0" name="Fault" type="D:chybova_odpoved" />
      </xsd:sequence>
      <xsd:attribute name="odpoved_datum_cas" type="xsd:dateTime" use="required" />
      <xsd:attribute name="odpoved_pocet" type="xsd:int" use="required" />
      <xsd:attribute fixed="Basic" name="odpoved_typ" type="D:ares_dotaz_typ" />
      <xsd:attribute default="XML" name="vystup_format" type="D:vystup_format" use="optional" />
      <xsd:attribute default="klient" name="xslt" type="D:xslt_ks" use="optional" />
      <xsd:attribute name="validation_XSLT" type="xsd:string" use="optional" />
      <xsd:attribute name="Id" type="xsd:string" use="optional" />
    </xsd:complexType>
  </xsd:element>
</xsd:schema>